################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/TestResults/
/src/.vs/
/src/packages/
debug/
release/
build/
bin/
obj/
cache/
log/
tmp/

/src/YalvLib.Tests/bin/Debug
/src/ModernYalv/bin/x86/Debug
/src/ModernYalv/obj/x86/Debug
/src/MRU/bin/x86/Debug
/src/MRU/obj/x86/Debug
/src/YALV/bin/Debug
/src/YALV/obj/x86/Debug
/src/YalvLib/bin/Debug
/src/YalvLib/obj/Debug
/src/YalvLib.Tests/obj/Debug
/src/YalvLib.Tests.Integration/bin/Debug
/src/YalvLib.Tests.Integration/obj/Debug
/src/_ReSharper.YALV
/src/YALV.Samples/bin/Debug
/src/YALV.Samples/obj/x86/Debug
/src/YALV.v11.suo
/src/.vs/YALV
/src/UnitTests/YalvLib.IntegrationTests/bin/Debug
/src/UnitTests/YalvLib.IntegrationTests/obj/Debug
/src/UnitTests/YalvLib.UnitTests/YalvLib.UnitTests/bin/Debug
